.container {
  background: #000;
  width:580px;
  height:1004px;
  padding:10px;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid white;
  margin-bottom: 10px;
}

.header > h1,h2,h3,h3,h5,h6 {
  color: white;
  padding: 0;
  margin: 10px 0 10px 0;
}


.nav {
  position:absolute;
  bottom: 10px;
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-around;
  flex-wrap: 1;
  align-content: center;
  color: white;
}

.navlink {
  width: 100%;
}

.navitem {
  border: 5px solid black;
  flex: 1;
  text-align: center;
  vertical-align: middle;
  background: #1a1a1a;
  transition: background-color 200ms ease;
}

.navitem:hover {
  background: #000;
}

.navitem > div {
  border: 1px solid white;
}

.navitem > div > p {

}

.navitem > div > i {
  font-size: 32px;
  margin-top:20px;
}
